body{
			background: url('../img/wolf.jpg') no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
		.login{
			margin: 100px auto;
			background-color: rgba(0, 13, 36, 0.7);
			padding: 10px 5px; 
			width: 40%;
			position: relative;
			color: white;
			border-radius: 20px;
			box-shadow: 5px 4px 10px rgba(79, 88, 147, 0.8);
		}
		.logo{
			height: 20%;
			width: 20%;
			border-radius: 10px;
		}
		.data{
			margin: 10px 30px auto;
		}
		.input{
			background: transparent;
			border: none;
			border-bottom: 1px solid white;
			width: 100%;
			color: white;
			padding-top: 7px;
			padding-bottom: 7px;
		}
		.input:hover{
			border-bottom: rgb(255, 128, 64) 1px solid;
		}
		.input::-webkit-input-placeholder{
			color : white;
		}
		.input:hover::-webkit-input-placeholder{
			color: rgb(255, 128, 64);

		}
		.input:focus{
			outline: none;
			border-bottom: rgb(0, 255, 255) 1px solid;
		}
		.input:focus::-webkit-input-placeholder{
			font-size: 10px;
			transition: 0.5s;
			transform: translate(0, -5px);
			color: rgb(0, 255, 255);
		}
		.submit{ 
			background-color: rgb(0, 11, 26);
			border: none;
			width: 100%;
			border-radius: 10px;
			height: 35px;
			color: white;
		}
		.submit:focus{
			outline: none;
		}
		.submit:hover{
			background-color: rgba(0, 13, 36);
			box-shadow: 5px 4px 10px rgba(37, 75, 90);
		}